<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unbank.mybatis.mapper.InformationMapper">


	<select id="readInformationBySQLAdapter" resultType="com.unbank.entity.Information"
		parameterType="com.unbank.mybatis.entity.SqlAdapter">
		${sql}
	</select>

</mapper>